<div class="center jumbotron">
  <h1><%= t(:Welcome_to_the_Slot_App) %></h1>

  <h3>
    パチスロの収支管理とホール分析
  </h3>
  
  <%= link_to t(:sign_up_now), new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("slot.png", alt: "Rails") %>
