<% provide(:title, @user.name) %>
<div class="row">
  <aside  class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <br>
        ユーザー名：<%= @user.name %>
        <!--<br>-->
        <!--性別：<%#= (@user.gender.text) %>-->
        <br>
        <!--生涯収支：1000-->
        <br>
        <%= link_to t(:blog), blogs_path(1) %>
      </h1>
    </section>
  </aside>

</div>
